<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="<% settings.charset %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title><% title %></title>
  <link rel="stylesheet" href="/javascripts/jqwidgets/styles/jqx.base.css" type="text/css" />
  <link rel="stylesheet" href="/javascripts/jqwidgets/styles/jqx.energyblue.css" type="text/css" />

  <!-- <script type="text/javascript" src="/javascripts/jquery.js"></script> -->
  <script type="text/javascript" src="/javascripts/scripts/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/jqwidgets/jqxcore.js"></script>
  <script type="text/javascript" src="/javascripts/jqwidgets/jqxribbon.js"></script> 
  <script type="text/javascript" src="/javascripts/jqwidgets/jqxlayout.js"></script>
  
  <!-- jqxTreeGrid resources -->
  <script type="text/javascript" src="/javascripts/jqwidgets/jqxdata.js"></script>
  <script type="text/javascript" src="/javascripts/jqwidgets/jqxbuttons.js"></script>
  <script type="text/javascript" src="/javascripts/jqwidgets/jqxscrollbar.js"></script>
  <script type="text/javascript" src="/javascripts/jqwidgets/jqxlistbox.js"></script>
  <script type="text/javascript" src="/javascripts/jqwidgets/jqxdropdownlist.js"></script>
  <script type="text/javascript" src="/javascripts/jqwidgets/jqxdatatable.js"></script>
  <script type="text/javascript" src="/javascripts/jqwidgets/jqxtreegrid.js"></script>

  <!-- jqxGrid -->
  <script type="text/javascript" src="/javascripts/jqwidgets/jqxgrid.js"></script>
  <script type="text/javascript" src="/javascripts/jqwidgets/jqxgrid.selection.js"></script>
  <script type="text/javascript" src="/javascripts/jqwidgets/jqxdata.js"></script>

  <!-- TextArea -->
  <script type="text/javascript" src="/javascripts/jqwidgets/jqxtextarea.js"></script>

  <!-- chart -->
  <script type="text/javascript" src="/javascripts/jqwidgets/jqxchart.core.js"></script>
  <script type="text/javascript" src="/javascripts/jqwidgets/jqxdraw.js"></script>

  <style>
        html, body{width: 100%; height: 100%; overflow: hidden;}
  </style>
  <style type="text/css">
        .jqx-layout-group-auto-hide-content-vertical
        {
            width: 200px;
        }
  </style>
  <script type="text/javascript">
    $(document).ready(function () {

        var layout = [{
            type: 'layoutGroup',
            orientation: 'vertical',
            items: [{
                type: 'layoutGroup',
                orientation: 'horizontal',
                height: '50%',
                minHeight: 400,
                items: [{
                    type: 'documentGroup',
                    width: '60%',
                    height: 400,
                    items: [{
                        type: 'documentPanel',
                        width: '100%',
                        height: 400,
                        minHeight: 400,
                        title: 'Workflows',
                        contentContainer: 'WorkflowListPanel'
                    }]
                },{
                    type: 'documentGroup',
                    width: '40%',
                    height: 400,
                    items: [{
                        type: 'documentPanel',
                        title: 'Pod output',
                        contentContainer: 'OutputPanel'
                    },{
                        type: 'documentPanel',
                        title: 'Workflow params',
                        contentContainer: 'ParamsPanel'
                    }]
                }]
              },{
                type: 'layoutGroup',
                orientation: 'horizontal',
                height: '50%',
                minHeight: 200,
                items: [{
                    type: 'layoutGroup',
                    width: '20%',
                    height: 400,
                    items: [{
                        type: 'documentGroup',
                        width: '90%',
                        items: [{
                            type: 'documentPanel',
                            title: 'Runtime',
                            contentContainer: 'runtimeGraph'
                        },{
                            type: 'documentPanel',
                            title: 'Throughput',
                            contentContainer: 'throughputGraph'
                        }]
                    }]
                },{
                    type: 'documentGroup',
                    width: '20%',
                    height: 400,
                    items: [{
                        type: 'documentPanel',
                        title: 'Operations',
                        contentContainer: 'operationsGraph'
                    }]
                },{
                    type: 'documentGroup',
                    width: '20%',
                    height: 400,
                    items: [{
                        type: 'documentPanel',
                        title: 'Read Latencies',
                        contentContainer: 'readLatenciesGraph'
                    }]
                },{
                    type: 'documentGroup',
                    width: '20%',
                    height: 400,
                    items: [{
                        type: 'documentPanel',
                        title: 'Insert Latencies',
                        contentContainer: 'insertLatenciesGraph'
                    }]
                },{
                    type: 'documentGroup',
                    width: '20%',
                    height: 400,
                    items: [{
                        type: 'documentPanel',
                        title: 'Update Latencies',
                        contentContainer: 'updateLatenciesGraph'
                    }]
                }]
            }]
        }];

        $('#jqxLayout').jqxLayout({ theme: 'energyblue', width: '100%', height: '100%', layout: layout });

        var workflows = {
            datatype: "json",
            datafields: [
                { name: 'id', type: 'string' },
                { name: 'name', type: 'string' },
                { name: 'parent', type: 'string' },
                { name: 'startedAt', type: 'date' },
                { name: 'phase', type: 'string' },
                { name: 'finishedAt', type: 'date' },
                { name: 'type', type: 'string' }
            ],
            hierarchy:
            {
                keyDataField: { name: 'id' },
                parentDataField: { name: 'parent' }
            },
            id: 'id',
            url: "http://localhost:5000/workflow_tree"
        };

        var workflowsDA = new $.jqx.dataAdapter(workflows);

        $("#treeGrid").jqxTreeGrid({
          source: workflowsDA,
          sortable: true,
          theme: 'energyblue',
          height: 400,
          columns: [
              { text: 'Name', dataField: 'name', width: 380 },
              { text: 'Type', dataField: 'type', width: 85 },
              { text: 'Status', dataField: 'phase', width: 80 },
              { text: 'Start date', dataField: 'startedAt', width: 300 },
              { text: 'End date', dataField: 'finishedAt', width: 300 }
          ],
          ready: function () {
              $("#treeGrid").jqxTreeGrid('expandRow', '3');
          }
        });

        $('#log').jqxTextArea({ width: '100%', height: 800 });


        $('#treeGrid').on('rowSelect', function (event) {
          var args = event.args;
          var row = args.row;

          if ( row.type == "workflow" ) {
            draw_throughput_graph( row.id );
            draw_runtime_graph( row.id );
            draw_operations_graph( row.id );
            draw_read_latencies_graph( row.id );
            draw_insert_latencies_graph( row.id );
            draw_update_latencies_graph( row.id );
          }

          var url = "http://localhost:5000/log?id=" + row.id

          $.get( url, function( data ) {
            $('#log').jqxTextArea('val', data)
          });

          var input_params = {
              datatype: "json",
              datafields: [
                  { name: 'name', type: 'string' },
                  { name: 'value', type: 'string' },
              ],
              url: "http://localhost:5000/params?name=" + row.id
          };

          var paramsDA = new $.jqx.dataAdapter(input_params);
          $("#paramsGrid").jqxGrid(
            {
                width: '100%',
                source: paramsDA,
                columns: [
                  { text: 'Name', datafield: 'name', width: 270 },
                  { text: 'Value', datafield: 'value', width: '100%' }
              ]
            });
        });
    });

    function draw_runtime_graph( id ) {
        var runtime_chart_url = "http://localhost:5000/overall_runtime_chart_data?id=" + id;
        $.getJSON( runtime_chart_url).then( function( data ) {
            console.log(data['metrics']);
            console.log(data['series']);
            console.log(data['valueAxis']);

            var runtime_data = {
                title: "Runtime (ms)",
                description: "",
                padding: { left: 5, top: 5, right: 5, bottom: 5 },
                titlePadding: { left: 20, top: 0, right: 0, bottom: 10 },
                source: data['metrics'],
                xAxis:
                {
                    dataField: 'metric',
                    gridLines: {visible: false},
                    tickMarks: {visible: true}
                },
                valueAxis: data['valueAxis'],
                colorScheme: 'scheme08',
                seriesGroups:
                    [
                        {
                            type: 'column',
                            columnsGapPercent: 20,
                            seriesGapPercent: 2,
                            series: data['series']
                        }
                    ]
            };
            $('#runtimeGraphID').jqxChart(runtime_data);
        })
    }

    function draw_throughput_graph( id ) {
        var throughput_chart_url = "http://localhost:5000/overall_throughput_chart_data?id=" + id;
        $.getJSON( throughput_chart_url ).then( function( data ) {
            console.log(data['metrics']);
            console.log(data['series']);
            console.log(data['valueAxis']);

            var throughput_data = {
                title: "Throughput (ops/sec)",
                description: "",
                padding: { left: 5, top: 5, right: 5, bottom: 5 },
                titlePadding: { left: 20, top: 0, right: 0, bottom: 10 },
                source: data['metrics'],
                xAxis:
                {
                    dataField: 'metric',
                    gridLines: {visible: false},
                    tickMarks: {visible: true}
                },
                valueAxis: data['valueAxis'],
                colorScheme: 'scheme08',
                seriesGroups:
                    [
                        {
                            type: 'column',
                            columnsGapPercent: 20,
                            seriesGapPercent: 2,
                            series: data['series']
                        }
                    ]
            };
            
            $('#throughputGraphID').jqxChart(throughput_data);
        })
    }

    function draw_operations_graph( id ) {
        var chart_url = "http://localhost:5000/operations_chart_data?id=" + id;
        $.getJSON( chart_url, function( data ) {
            console.log(data['metrics']);
            console.log(data['series']);
            console.log(data['valueAxis']);

            // prepare jqxChart settings
            var settings = {
                title: "Operations NOT OK",
                description: "",
                padding: { left: 5, top: 5, right: 5, bottom: 5 },
                titlePadding: { left: 30, top: 0, right: 0, bottom: 10 },
                source: data['metrics'],
                xAxis:
                {
                    dataField: 'metric',
                    gridLines: {visible: false},
                    tickMarks: {visible: true}
                },
                valueAxis: data['valueAxis'],
                colorScheme: 'scheme08',
                seriesGroups:
                    [
                        {
                            type: 'column',
                            columnsGapPercent: 20,
                            seriesGapPercent: 2,
                            series: data['series']
                        }
                    ]
            };
            
            $('#operationsGraph').jqxChart(settings);
        });
    }

    function draw_read_latencies_graph( id ) {
        var chart_url = "http://localhost:5000/read_latencies_chart_data?id=" + id;
        $.getJSON( chart_url, function( data ) {
            console.log(data['metrics']);
            console.log(data['series']);
            console.log(data['valueAxis']);

            var settings = {
                title: "Read Latencies (us)",
                description: "",
                padding: { left: 5, top: 5, right: 5, bottom: 5 },
                titlePadding: { left: 50, top: 0, right: 0, bottom: 10 },
                source: data['metrics'],
                xAxis:
                {
                    dataField: 'metric',
                    gridLines: {visible: false},
                    tickMarks: {visible: true}
                },
                valueAxis: data['valueAxis'],
                colorScheme: 'scheme08',
                seriesGroups:
                    [
                        {
                            type: 'column',
                            columnsGapPercent: 10,
                            seriesGapPercent: 2,
                            series: data['series']
                        }
                    ]
            };
            
            $('#readLatenciesGraph').jqxChart(settings);
        });
    }

    function draw_insert_latencies_graph( id ) {
        var chart_url = "http://localhost:5000/insert_latencies_chart_data?id=" + id;
        $.getJSON( chart_url, function( data ) {
            console.log(data['metrics']);
            console.log(data['series']);
            console.log(data['valueAxis']);

            var settings = {
                title: "Insert Latencies (us)",
                description: "",
                padding: { left: 5, top: 5, right: 5, bottom: 5 },
                titlePadding: { left: 50, top: 0, right: 0, bottom: 10 },
                source: data['metrics'],
                xAxis:
                {
                    dataField: 'metric',
                    gridLines: {visible: false},
                    tickMarks: {visible: true}
                },
                valueAxis: data['valueAxis'],
                colorScheme: 'scheme08',
                seriesGroups:
                    [
                        {
                            type: 'column',
                            columnsGapPercent: 10,
                            seriesGapPercent: 2,
                            series: data['series']
                        }
                    ]
            };
            
            $('#insertLatenciesGraphID').jqxChart(settings);
        });
    }

    function draw_update_latencies_graph( id ) {
        var chart_url = "http://localhost:5000/update_latencies_chart_data?id=" + id;
        $.getJSON( chart_url, function( data ) {
            console.log(data['metrics']);
            console.log(data['series']);
            console.log(data['valueAxis']);

            var settings = {
                title: "Update Latencies (us)",
                description: "",
                padding: { left: 5, top: 5, right: 5, bottom: 5 },
                titlePadding: { left: 90, top: 0, right: 0, bottom: 10 },
                source: data['metrics'],
                xAxis:
                {
                    dataField: 'metric',
                    gridLines: {visible: false},
                    tickMarks: {visible: true}
                },
                valueAxis: data['valueAxis'],
                colorScheme: 'scheme08',
                seriesGroups:
                    [
                        {
                            type: 'column',
                            columnsGapPercent: 20,
                            seriesGapPercent: 2,
                            series: data['series']
                        }
                    ]
            };
            
            $('#updateLatenciesGraph').jqxChart(settings);
        });
    }

  </script>
</head>
<body>
<% content %>
<!--
<div id="footer">
Powered by <a href="http://perldancer.org/">Dancer2</a> <% dancer_version %>
</div>
-->
</body>
</html>
